@model IEnumerable<veggie_app.Models.User>

@{
    ViewData["Title"] = "Usuarios | Veggie";
}

<h1>Usuarios registrados</h1>

<p>
    <a class="btn btn-success" asp-action="Create">Crear nuevo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Username)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Password)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TypeUser)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Username)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Password)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TypeUser)
            </td>
            <td>
                <a class="btn btn-warning" asp-action="Edit" asp-route-id="@item.IdUser">Editar</a>
                <a class ="btn btn-secondary" asp-action="Details" asp-route-id="@item.IdUser">Detalles</a>
                <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.IdUser">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
