@model IEnumerable<veggie_app.Models.Category>

@{
    ViewData["Title"] = "Categorías | Veggie";
}

<h1>Categorías registradas</h1>

<p>
    <a class="btn btn-success" asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                <a class="btn btn-warning" asp-action="Edit" asp-route-id="@item.IdCategory">Edit</a>
                <a class="btn btn-secondary" asp-action="Details" asp-route-id="@item.IdCategory">Details</a>
                <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.IdCategory">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
